@charset "UTF-8";

// Mixins
// @import "components/prefixer";
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

/**
 * Custom Variables
 */

// Fix path resolution for fonts - must be relative to this file
$roboto-font-path: "../../node_modules/materialize-css/fonts/roboto/";

// Make navbar larger for the player controls
$navbar-height: 120px;
$navbar-height-mobile: 120px;

// Reset
@import "components/normalize";

// components
@import "components/dropdown";
@import "components/global";
@import "components/icons-material-design";
@import "components/grid";
@import "components/modal";
@import "components/navbar";
@import "components/roboto";
@import "components/typography";
@import "components/forms/forms";
@import "components/buttons";
@import "components/waves";
@import "components/materialbox";
@import "components/cards";
@import "components/preloader";
/**
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/collapsible";
@import "components/chips";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/slider";
@import "components/carousel";
@import "components/date_picker/default";
@import "components/date_picker/default.date";
@import "components/date_picker/default.time";
**/

/**
 * Material Icons
 */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src:  local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
        url(../fonts/MaterialIcons-Regular.woff) format('woff'),
        url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
